.col{
	width: 10px;
	height: 10px;
	background-color: #2f2f2f;
	border: 1px ;
}
body{
	background-color:  #202020;
}

input{
	width: 80px;
	font-size: 15pt;
}

table{
	padding: 20px;
	border-collapse: collapse;
}

footer{
	color: white;
	font-size: 17pt;
}